.ContactPage input {
  margin: 5px;
  padding: 10px 10px;
  border-radius: 7px;
  border: none;
  height: 25px;
  font-size: 16px;
}

.ContactPage {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ContactPage h1 {
  width: 100%;
}
.InfoBox {
  width: 30vw;
  display: flex;
  flex-direction: column;
}
.EmailBox {
  width: 30vw;
  height: 50vh;
  background: black;
}
