.ContentContainer {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;
}
.CardsContainer {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row2 {
  width: 100%;
}
.SummaryContainer {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
}
.Summary {
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: start;
  flex-grow: 1;
  line-height: 25px;
  /* font-size: 12px; */
}

.Summary p {
  width: 90%;
  font-size: 14px;
  letter-spacing: 1px;
}

.Summary__Link {
  text-decoration: none;
}
.Summary__Link:hover {
  border: none;
}
.PillContainer {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.PillContainer h2 {
  width: 100%;
  text-align: start;
}
.Pill {
  background-color: #82bbcf;
  border-radius: 16px;
  height: fit-content;
  padding: 5px 10px;
  margin: 3px 3px;
  color: white;
}
.theme-night .Pill {
  background-color: white;
  color: black;
}
.Pill:hover {
  background: #82bbcf;
  cursor: pointer;
}
.theme-night .Pill:hover {
  background-color: white;
  color: #82bbcf;
  box-sizing: border-box;
}
.Pill h3 {
  margin: 0;
  font-size: 12px;
}
