.ContentCards {
    width: 35%;
    min-width: 280px;
    margin: 15px 5px;
    flex-grow: 1;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.25), 0 6px 6px 0 rgba(0, 0, 0, 0.25);
    font-family: "Montserrat";
    background: white;
    border-radius: 7px;
}

.ContentCards img {
    min-height: 250px;
    height: 275px;
    max-width: 100%;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.ContentCards h2 {
    margin: 10px 0 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.ContentCards p {
    color: grey;
    font-size: 12px;
    font-weight: 400;
    width: 75%;
    margin: 5px auto 15px auto;
}