.ContentCards {
  width: 35%;
  min-width: 300px;
  margin: 15px 5px;
  flex-grow: 1;
  /* height: 300px; */
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.25), 0 6px 6px 0 rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
}
.ContentCards img {
  width: 100%;
}
.ContentCards h2 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}
.ContentCards p {
  color: grey;
  font-size: 12px;
  font-weight: 400;
  width: 90%;
  margin: 15px auto;
}
