.Header {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.Header__title {
  margin: 5vh auto;
}

.Header__Navigation {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  max-width: 450px;
  margin: 0 auto 5vh auto;
}
.Header__Navigation-Item {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.Header__Navigation-Item:hover {
  color: #29263e;
}

.Header__Navigation-Item.active {
  /* border-bottom: 2px solid #82bbcf; */
  color: #3e8eab;
  padding-bottom: 1px;
}

.theme-night {
  background: #29263e;
  color: white;
  transition: color 0s;
}
.theme-day {
  background: white;
  color: black;
  transition: color 0s;
}

.theme-day a {
  color: #82bbcf;
}
.theme-night a {
  color: #82bbcf;
  cursor: pointer;
}
.theme-night a:hover {
  color: #3e8eab;
  border-bottom: 2px solid #3e8eab;
  transition: 0.2s ease-in-out;
}

.theme-day a:hover {
  color: #3e8eab;
  border-bottom: 2px solid #3e8eab;
  transition: 0.2s ease-in-out;
}
